@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ededed;
  --background: linear-gradient(90deg, #6366f1, #9333ea);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: linear-gradient(90deg, #6366f1, #9333ea);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}